<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <% if @user %>    
      <h1>Add New To-Do Item</h1>
      <%= render partial: 'form', locals: {user: @user, item: @item} %>
    <% else %>
      <h2>You must sign in to create To-Do items.</h2>
    <% end %>    
  </div>
</div>
